:root{
    --background-color: #212121;
    --secondare-color:#cccccc;
    --premire-color:#3498db;
    --helper-color:#226592;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: sans-serif;
    color: var(--secondare-color);
}

body{
    background-color: var(--background-color);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.keyboard{
    width: 700px;
    height: 350px;
}

.words{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 4rem;
}

.word{
    height: 50px;
    width: 60px;
    background-color: var(--premire-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px #cccccccc;
}

.word:active{
    background: var(--helper-color);
}

.input{
    margin-top: 15rem;
    margin-left: 1rem;
    position: relative;
    text-align: center;
    font-size: 30px;
    bottom: 5rem;
    height: 10px;
}

.input::after{
    position: absolute;
    content: ' ';
    height: 5px;
    width: 100%;
    background-color: var(--premire-color);
    bottom: -2rem;
    margin-top: 1rem;
    border-radius: 3px;
    left: 0;
}

.logo{
    z-index: 9;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img{
    height: 50px;
}

.warning{
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21212185;
    height: 100vh;
    width: 100%;
    top: 0;
}

.warning .warningScreen{
    height: 225px;
    width: 500px;
    text-align: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 7px;
}

.warning .warningScreen h3{
    color: rgb(219, 53, 2);
    margin-top: 3rem;
}

.warningScreen span {
    color: var(--premire-color);
}
.warningScreen p {
    margin-top: 1rem;
}

.warningScreen #btn{
    height: 35px;
    width: 100px;
    margin-top: 2rem;
    margin-left: 23rem;
    color: #212121;
    background-color: var(--premire-color);
    border: none;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
}

#btn:active{
    background-color: var(--helper-color);
}

.enter{
    width: 85px;
}

#enter{
    width: 110%;
    height: 150%;
    font-size: 20px;
}